body {

    text-align: center;
    background-image: url("metaal.png");



    color: rgb(255, 2, 2);
    font-family: 'Comic Sans MS'
}
.grey {
    margin:auto;
    max-width: 40em;
    background-color: lightgrey;
}
.rotate:hover {
animation-name:rotate ;
animation-duration: 1s;
animation-iteration-count: infinite;
}
@keyframes rotate {
            from {
                transfrorm: rotate(0deg);
            }
            to {

                transform: rotate(360deg);
            }
        }